<section class="acf-block-post-list alignwide">
  {% if term %}
    <h2 class="aligncenter">
      <a href="{{ term.link }}"> {{ term.name }} </a>
    </h2>
  {% endif %}

  <h-tile class="tile-3">
    {% for p in posts %}
      <a class="post-item" href="{{ p.link }}">
        {% if p.thumbnail %}
          <img src="{{ p.thumbnail.src }}" alt="{{ p.title }}">
        {% endif %}

        <h3>{{ p.title }}</h3>
        <time>{{ p.post_date | date }}</time>

        {% if not p.thumbnail %}
          {{ p.post_excerpt | markdown }}
        {% endif %}
      </a>
    {% endfor %}
  </h-tile>
</section>