<!-- Desktop Header -->
{% for row in header.desktop if row.placements | length > 0 %}

  {{ _self.header_row( row, header.items, 'desktop' ) }}

{% endfor %}

<hr style="display: none"> {# to split between desktop and mobile so the sticky nav works #}

<!-- Mobile Header -->
{% for row in header.mobile if row.placements | length > 0 %}
  
  {{ _self.header_row( row, header.items, 'tablet mobile' ) }}

{% endfor %}

<!-- End Header -->

{# Row #}
{% macro header_row( row, items_data, visibility ) %}
  {% set row_data = items_data[ row.id ] %}

  {% if row.id == 'offcanvas' %}
    <aside class="offcanvas offcanvas--from-{{ row_data.reveal_from }} offcanvas--align-{{ row_data.items_alignment }}"
      data-visible="{{ visibility }}"
      data-id="{{ row.id }}">

      <a href="#" data-close-offcanvas>
        {{ fn('custy_get_svg', row_data.close_button_style) }}
      </a>
      <div class="offcanvas-inner-wrapper">
        {{ _self.header_column( row.placements[0], items_data ) }}
      </div>

    </aside>

  {% else %}
    <div class="header-row {{ row_data.is_sticky == 'yes' ? 'header-row--is-sticky' : '' }}"
      data-id="header-{{ row.id }}"
      data-visible="{{ visibility }}">
      
      <h-grid class="header-columns header-columns--{{ row | h_get_columns_count }}">
      
      {% for column in row.placements if column.items %}
        <div data-column="{{ column.id }}" class="header-column">
          {{ _self.header_column( column, items_data ) }}
        </div>
      {% endfor %}

      </h-grid>
    </div>
  {% endif %}
{% endmacro %}

{# Columns #}
{% macro header_column( column, items_data ) %}
  {% for item_id in column.items %}
    {% include 'header/_' ~ item_id ~ '.twig' with items_data[item_id] only %}
  {% endfor %}
{% endmacro %}