<!-- Desktop Header -->
<header class="site-header" data-visible="desktop">
  {% for row in header.desktop if row.placements | length > 0 %}

    {{ _self.header_row( row, header.items ) }}

  {% endfor %}
</header>

<!-- Mobile Header -->
<div class="site-header site-header--mobile" data-visible="tablet mobile">
  {% for row in header.mobile if row.placements | length > 0 %}

    {% if row.id == 'offcanvas' %}
      <div class="offcanvas" data-header-row="offcanvas">
        {{ _self.header_column( row.placements[0], header.items ) }}
      </div>

    {% else %}
      {{ _self.header_row( row, header.items ) }}

    {% endif %}

  {% endfor %}
</div>


{# Row #}
{% macro header_row( row, items_data ) %}
  {% set row_data = items_data[ row.id ] %}

  <div data-header-row="{{ row.id }}" class="header-row header-row--{{ row_data.row_padding }}">
    <h-grid class="header-columns header-columns--{{ row | h_get_columns_count }}">
    
    {% for column in row.placements if column.items %}
      <div data-column="{{ column.id }}" class="header-column">
        {{ _self.header_column( column, items_data ) }}
      </div>
    {% endfor %}

    </h-grid>
  </div>
{% endmacro %}

{# Columns #}
{% macro header_column( column, items_data ) %}
  {% for item_id in column.items %}
    {% include 'header/_' ~ item_id ~ '.twig' with items_data[item_id] only %}
  {% endfor %}
{% endmacro %}