<!-- Desktop Header -->
<header class="site-header"  data-visible="desktop">
  {% for row in header.desktop if row.placements | length > 0 %}

    {{ _self.header_row( row, header.items ) }}

  {% endfor %}
</header>

<!-- Mobile Header -->
<div class="site-header site-header--mobile"  data-visible="tablet mobile">
  {% for row in header.mobile if row.placements | length > 0 %}
    
    {{ _self.header_row( row, header.items ) }}

  {% endfor %}
</div>


{# Row #}
{% macro header_row( row, items_data ) %}
  {% set row_data = items_data[ row.id ] %}

  {% if row.id == 'offcanvas' %}
    <div class="offcanvas offcanvas--from-{{ row_data.reveal_from }} offcanvas--align-{{ row_data.items_alignment }}"  data-id="{{ row.id }}">
      <a href="#" data-close-offcanvas>
        {{ fn('custy_get_svg', row_data.close_button_style) }}
      </a>
      <div class="offcanvas-inner-wrapper">
        {{ _self.header_column( row.placements[0], items_data ) }}
      </div>
    </div>

  {% else %}
    <div class="header-row header-row--{{ row_data.row_padding }}" data-id="{{ row.id }}">
      <h-grid class="header-columns header-columns--{{ row | h_get_columns_count }}">
      
      {% for column in row.placements if column.items %}
        <div data-column="{{ column.id }}" class="header-column">
          {{ _self.header_column( column, items_data ) }}
        </div>
      {% endfor %}

      </h-grid>
    </div>
  {% endif %}
{% endmacro %}

{# Columns #}
{% macro header_column( column, items_data ) %}
  {% for item_id in column.items %}
    {% include 'header/_' ~ item_id ~ '.twig' with items_data[item_id] only %}
  {% endfor %}
{% endmacro %}