{% if posts %}
<ul class="wp-block-latest-posts wp-block-latest-posts__list is-grid columns-3 has-dates has-author alignwide">
  {% for post in posts %}
  <li>
    {% if post.thumbnail %}
    <div class="wp-block-latest-posts__featured-image">
      <a href="{{ post.link }}">
        <img src="{{ post.thumbnail.src('medium') }}" alt="" loading="lazy">
      </a>
    </div>
    {% endif %}

    <a href="{{ post.link }}">
      {{ post.title }}
    </a>

    <div class="wp-block-latest-posts__post-author">by {{ post.author.display_name }}</div>
    <time datetime="{{ post.post_date }}" class="wp-block-latest-posts__post-date">{{ post.post_date | date }}</time>
    <div class="wp-block-latest-posts__post-excerpt">
      {{ post.preview.length(20).read_more('') }}
    </div>
  </li>
  {% endfor %}
</ul>

{% else %} 
  <div class="wp-block-group">
    <div class="wp-block-group__inner-container">
      <h1 class="has-text-align-center has-main-color">Posts Not Found</h1>
      <p class="has-text-align-center">
        Sorry, there are no posts that fit this category.
      </p>
    </div>
  </div>
{% endif %}