{% for post in posts %}

  {# Featured Post #}
  {% if loop.first and post.thumbnail %}
    <article class="wp-block-cover has-background-dim --for-post-tease"
      style="background-image:url('{{ post.thumbnail.src('large') }}');">
      <div class="wp-block-cover__inner-container">
        <a href="{{ post.link }}">
          <h1>{{ post.title }}</h1>
          {{ post.get_preview(25, false, false) | wpautop }}
        </a>
        {% include "_post-meta.twig" %}
      </div>
    </article>
    
  {# Standard List #}
  {% else %}
    <article class="post-tease">
      {% if post.thumbnail %}
        <figure>
          <img src="{{ post.thumbnail.src('thumbnail') }}" alt="{{ post.title }}">
        </figure>
      {% endif %}

      <div class="tease-body">
        <a href="{{ post.link }}">
          <h3>{{ post.title }}</h3>
          <p> {{ post.get_preview(25, false, false) }} </p>
        </a>

        {% include "_post-meta.twig" %}
      </div>
    </article>
  {% endif %}

{% else %}
  <article class="content-error">
    <h1>Sorry</h1>
    <p>We couldn’t find any posts.</p>
  </article>
{% endfor %}
