{% extends "layout.twig" %}
{% block content %}

<h-grid class="archive-grid">

  <main class="archive-column {{ sidebar ? 'archive-column--has-sidebar' : 'archive-column--no-sidebar' }}">
    {% if fn('function_exists', 'jetpack_breadcrumbs') %}
      {{ fn( 'jetpack_breadcrumbs' ) }}
    {% endif %}

    {% if title %}
      <header class="archive-header">
        <h1>{{ title }}</h1>
        {{ description | h_markdown }}
      </header>
    {% endif %}

    {% if author %}
      {% include "_author-info.twig" with { author: author, element: { show_avatar: 'yes', show_social_media: 'yes' } } %}
    {% endif %}

    {% include "_posts.twig" %}
    {% include "_pagination.twig" %}
  </main>

  {% if sidebar %}
    <aside class="sidebar sidebar--{{ mods.archive_sidebar_position }}">
      {{ sidebar }}
    </aside>
  {% endif %}


</h-grid>



{% endblock %}
