<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ wp_title }}</title>

  {{ wp_head }}
</head>

<body class="{{ body_class }}">
<div id="main-container">

{% include '_header.twig' %}

{% block content %}{% endblock %}

{% include '_footer.twig' %}

</div>

{#
<footer class="main-footer">

  <h-grid><div class="footer-credit / large-12">

    <div class="copyright">
      <strong>Copyright</strong>  &copy; {{ "now" | date("Y") }} {{ site.name }}
    </div>

    <div class="partners">
      <strong>Created by:</strong>

      <a href="https://pixelstudio.id" target="_blank">
        <img src="https://cdn.pixelstudio.id/pixelstudio/partner-logo.png">

        <div class="partner-caption">
          <h5>Pixel Studio</h5>
          <p>Web &amp; App Design</p>
        </div>
      </a>
    </div>

  </div></h-grid>
</footer>
#}

{{ wp_footer }}

</body>
</html>
