<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ wp_title }}</title>

  {{ wp_head }}
</head>

<body class="{{ body_class }} {{ mods.has_frame == 'yes' ? 'has-frame' : '' }}">
<div id="main-container">

{% include '_header.twig' %}

{% block content %}{% endblock %}

{% include '_footer.twig' %}

</div>

{# Back to Top #}
{% if mods.has_back_to_top == 'yes' %}
  <a class="back-to-top back-to-top--align-{{ mods.back_to_top_alignment }}"
    data-back-to-top
    {{ mods.back_to_top_visibility | h_get_visible_attr }}>

    {{ fn( 'custy_get_svg', mods.back_to_top_style ) }}

  </a>
{% endif %}

{{ wp_footer }}

</body>
</html>
