<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ wp_title }}</title>

  {{ wp_head }}
</head>

<body class="{{ body_class }}">

{{ header }}

<nav class="main-nav">
  {#
  <h-grid> <div class="nav-wrapper / large-12">

    {{ fn('the_custom_logo') }}

    <div id="nav-toggle" class="nav-item --mobile-toggle">
      <a>
        <i class="dashicons-before dashicons-menu"></i>
        <strong>Menu</strong>
      </a>
    </div>

    <ul class="nav-items">
    {% for item in nav.items %}
      <li class="nav-item {{ item.class }}">
        <a href="{{ item.url }}"> {{ item.title }} </a>

        {% if item.children %}
          <div class="nav-children">
          {% for child in item.children %}
            <a href="{{ child.url }}">{{ child.title }}</a>
          {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>

    <div class="nav-extra">
      {% if woo %}
        {% include "shop/_nav-extra.twig" %}
      {% endif %}
      
      <a href="tel:+1234567890">
        <i class="dashicons-before dashicons-phone"></i>
        <span>+12 3456 7890</span>
      </a>
    </div>

  </div> </h-grid>
</nav>
#}


{% block content %}{% endblock %}

{{ footer }}

{#
<footer class="main-footer">

  <h-grid><div class="footer-credit / large-12">

    <div class="copyright">
      <strong>Copyright</strong>  &copy; {{ "now" | date("Y") }} {{ site.name }}
    </div>

    <div class="partners">
      <strong>Created by:</strong>

      <a href="https://pixelstudio.id" target="_blank">
        <img src="https://cdn.pixelstudio.id/pixelstudio/partner-logo.png">

        <div class="partner-caption">
          <h5>Pixel Studio</h5>
          <p>Web &amp; App Design</p>
        </div>
      </a>
    </div>

  </div></h-grid>
</footer>
#}

{{ wp_footer }}

</body>
</html>
