{% extends "layout.twig" %}
{% block content %}

<article class="the-content">
  {% if post.thumbnail %}
    <!-- Featured Image -->
    <header class="wp-block-cover {{ post.thumbnail.width > 1121 ? 'alignfull' : 'alignwide' }} has-background-dim" style="background-image:url('{{ post.thumbnail.src('large') }}');">
      <div class="wp-block-cover__inner-container">
        <h1>{{ post.title }}</h1>
        {{ post.post_excerpt | markdown }}
      </div>
    </header>
  {% else %}
    <header class="post-header">
      <h1>{{ post.title }}</h1>
    </header>
  {% endif %}

  {{ post.content }}
</article>

{% endblock %}
