{% extends "layout.twig" %}
{% block content %}

{# Hero #}
<section class="wp-block-cover is-style-post-hero / has-background-dim has-color-1-light-background-color alignfull"
  style="min-height:250px;">
  <div class="wp-block-cover__inner-container">

    <h1 class="has-color has-text-color">
      {{ post.title }}
    </h1>

    <div class="post-meta">
      <span class="meta-categories">
        {% for c in post.categories %}
          <a href="{{ c.link }}"> {{ c.name }} </a>  
        {% endfor %}
      </span>

      <span class="meta-author">
        By {{ post.author.display_name }}
      </span>

      <time class="meta-date" datetime="{{ post.post_date | date('Y-m-d') }}">
        <i></i>
        {{ post.post_date | date }}
      </time>

      {% if post.comment_count > 0 %}
        <span class="meta-comments">
          <i></i>
          <a href="{{ post.link }}#comments" class=""> {{ post.comment_count }} Comments </a>
        </span>
      {% endif %}

      {% if post.tags %}
        <span class="meta-tags">
          <i></i>
          {% for tag in post.tags %}
            <a href="{{ tag.link }}">{{ tag.name }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </div>

  </div>
</section>

{# Content #}
<div class="post-grid" data-grid>
  <article class="post-column" data-column="8-12">

    <main role="main">
      {# Featured Image #}
      {% if post.thumbnail %}
        <div class="featured-image">
          <picture data-image-fit="2:1">
            <source srcset="{{ post.thumbnail.src('medium') }}" media="(max-width: 480px)">
            <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }} Banner" loading="lazy">
          </picture>
        </div>
      {% endif %}

      {{ post.content }}
    </main>

    {# Sharing buttons #}
    {% if fn( 'function_exists', 'sharing_display' ) %}
      {% filter shortcodes %} [h-jetpack-sharing] {% endfilter %}
    {% endif %}

    {# Author Box #}
    {% include "_author-info.twig" with { author: post.author } %}

    {# Next / Prev Post #}
    <nav class="post-nav">
      {% if post.prev %}
        <a href="{{ post.prev.link }}" class="nav-prev">
          <img src="{{ post.prev.thumbnail.src('thumbnail') }}">
          <p>
            <em>{{ __('Previous Post') }}</em>
            <span>{{ post.prev.title }}</span>
          </p>
        </a>
      {% endif %}

      {% if post.next %}
        <a href="{{ post.next.link }}" class="nav-next">
          <img src="{{ post.next.thumbnail.src('thumbnail') }}">
          <p>
            <em>{{ __('Next Post') }}</em>
            <span>{{ post.next.title }}</span>
          </p>
        </a>
      {% endif %}
    </nav>
  </article>

  {% if sidebar %}
  <aside class="sidebar" data-column="4-12">
    <div class="sidebar-inner">
      {{ sidebar }}
    </div>
  </aside>
  {% endif %}

</div> {# grid #}

{# Related Posts #}
<aside class="related-posts">
  <div data-grid> <div data-column="12">
    {% if fn('class_exists', 'Jetpack_RelatedPosts') %}
      {% filter shortcodes %} [jetpack-related-posts] {% endfilter %}

    {% else %}
      <h3> {{ __('Related Posts') }}</h3>
      {% include '_posts.twig' with { posts: related_posts } %}

    {% endif %}
  </div> </div>
</aside>

{# Comments #}
{% if post.comment_status != 'closed' %}
  {% include "_comments.twig" %}
{% endif %}

{% endblock %}