{% extends "layout.twig" %}
{% block content %}


<section class="post-hero">
  <div data-grid>
    <div class="hero-column {{ not sidebar ? 'hero-column--narrow' : '' }}">
      <h1>{{ post.title }}</h1>
      {% include "_post-meta.twig" %}
    </div>
  </div>
</section>

{# Content #}
<div class="post-grid" data-grid>

<main class="post-column" data-column="8-12">
  {# Featured Image #}
  {% if post.thumbnail %}
    <div class="featured-image">
      <picture data-image-fit="2:1">
        <source srcset="{{ post.thumbnail.src('medium') }}" media="(max-width: 480px)">
        <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }} Banner" loading="lazy">
      </picture>
    </div>
  {% endif %}

  <article class="the-content">
    {{ post.content }}
  </article>

  {# Sharing buttons #}
  {% if fn( 'function_exists', 'sharing_display' ) %}
    {% filter shortcodes %} [h-jetpack-sharing] {% endfilter %}
  {% endif %}

  {# Author Box #}
  {% include "_author-info.twig" with { author: post.author } %}

  {# Next / Prev Post #}
  <nav class="post-nav">
    {% if post.prev %}
      <a href="{{ post.prev.link }}" class="nav-prev">
        <img src="{{ post.prev.thumbnail.src('thumbnail') }}">
        <p>
          <em>{{ __('Previous Post') }}</em>
          <span>{{ post.prev.title }}</span>
        </p>
      </a>
    {% endif %}

    {% if post.next %}
      <a href="{{ post.next.link }}" class="nav-next">
        <img src="{{ post.next.thumbnail.src('thumbnail') }}">
        <p>
          <em>{{ __('Next Post') }}</em>
          <span>{{ post.next.title }}</span>
        </p>
      </a>
    {% endif %}
  </nav>
</main>

{% if sidebar %}
  <aside class="sidebar" data-column="4-12">
    <div class="sidebar-inner">
      {{ sidebar }}
    </div>
  </aside>
{% endif %}
</div> {# grid #}


{# Related Posts #}
<aside class="related-posts">
  <div data-grid> <div data-column="12">
    {% if fn('class_exists', 'Jetpack_RelatedPosts') %}
      {% filter shortcodes %} [jetpack-related-posts] {% endfilter %}

    {% else %}
      <h3 class="related-title"> {{ __('Related Posts') }}</h3>
      {% filter shortcodes %} [h-related-posts count="3"] {% endfilter %}

    {% endif %}
  </div> </div>
</aside>

{# Comments #}
{% if post.comment_status != 'closed' %}
  {% include "_comments.twig" %}
{% endif %}

{% endblock %}
