{% set menu = menu | h_get_timber_menu %}

<ul class="footer-nav footer-nav--{{ style }} footer-nav--align-{{ alignment }}" data-footer="menu">
  {% for item in menu.items %}
    <li>
      <a href="{{ item.url }}"> {{ item.title }} </a>

      {% if style == 'include-children' %}
      <div class="footer-nav-children">
        {% for c in item.children %}
          <a href="{{ c.url }}"> {{ c.title }} </a>
        {% endfor %}
      </div>
      {% endif %}

    </li>
  {% endfor %}
</ul>