<section class="shop-products">

  <div data-tile="3-2">
    {% for p in products %}
      {{ fn("timber_set_product", p) }} {# set context #}

      <div class="product-tease">
        <a href="{{ p.link }}"> 
          <figure>
            {{ fn( 'woocommerce_show_product_loop_sale_flash' ) }}
            {{ fn( 'woocommerce_template_loop_product_thumbnail' ) }}
            {% do action( 'woocommerce_before_shop_loop_item_title' ) %}
          </figure>
          <h3> {{ p.title }} </h3>
        </a>  

        {{ fn( 'woocommerce_template_loop_rating' ) }}
        {{ fn( 'woocommerce_template_loop_price' ) }}
        {% do action("woocommerce_after_shop_loop_item_title") %}
        
        {{ fn( 'woocommerce_template_loop_product_link_close' ) }}
        {{ fn( 'woocommerce_template_loop_add_to_cart' ) }}
        {% do action("woocommerce_after_shop_loop_item") %}
      </div>

    {% endfor %}
  </div>


  {% if not products %}
    <div data-grid>
      <div data-column="4"></div>
      <article class="content-error" data-column="4">
        <h1>Product <span>Not Found</span></h1>
        <p>
          Sorry, there is no product listed here yet
        </p>
      </article>
    </div>
  {% endif %}

</section>
