<a href="{{ link }}"
  class="button button--{{ button_size }} button--{{ button_style }}"
  target="{% if target == 'yes' %} _blank {% endif %}"
  data-id="{{ id ? id : 'button' }}">

  {% if has_icon == 'png' %}
    <img src="{{ png_icon.url }}">

  {% elseif has_icon == 'svg' %}
    {{ svg_icon }}

  {% endif %}

  {{ text }}

</a>