{% set menu = menu | h_get_menu_items %}

<nav class="header-nav">
{% for item in menu.items %}
  <div class="nav-parent {{ item.class }}">

    <a href="{{ item.url }}"> {{ item.title }} </a>

    {% if item.children %}
      <div class="nav-children">
      {% for child in item.children %}
        <a href="{{ child.url }}">{{ child.title }}</a>
      {% endfor %}
      </div>
    {% endif %}

  </div>
{% endfor %}
</nav>

  {#
  <nav class="main-nav">
  <h-grid> <div class="nav-wrapper / large-12">

    {{ fn('the_custom_logo') }}

    <div id="nav-toggle" class="nav-item --mobile-toggle">
      <a>
        <i class="dashicons-before dashicons-menu"></i>
        <strong>Menu</strong>
      </a>
    </div>

    <ul class="nav-items">
    {% for item in nav.items %}
      <li class="nav-item {{ item.class }}">
        <a href="{{ item.url }}"> {{ item.title }} </a>

        {% if item.children %}
          <div class="nav-children">
          {% for child in item.children %}
            <a href="{{ child.url }}">{{ child.title }}</a>
          {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>

    <div class="nav-extra">
      {% if woo %}
        {% include "shop/_nav-extra.twig" %}
      {% endif %}
      
      <a href="tel:+1234567890">
        <i class="dashicons-before dashicons-phone"></i>
        <span>+12 3456 7890</span>
      </a>
    </div>

  </div> </h-grid>
</nav>
#}