{% set menu = fn(['H', 'get_timber_menu'], menu) %}

<nav class="nav-items" data-id="{{ id ? id : 'menu' }}">
{% for item in menu.items %}
  <div class="nav-item {{ item.class }}">
    <a href="{{ item.url }}"> {{ item.title }} </a>

    {% if item.children %}
      <div class="nav-children">
      {% for child in item.children %}
        <a href="{{ child.url }}">{{ child.title }}</a>
      {% endfor %}
      </div>
    {% endif %}

  </div>
{% endfor %}
</nav>