{% set menu = menu | h_get_timber_menu %}

<nav class="mobile-nav">
{% for item in menu.items %}
  <div class="nav-parent {{ item.class }}">

    <a href="{{ item.url }}"> {{ item.title }} </a>

    {% if item.children %}
      <div class="nav-children">
      {% for child in item.children %}
        <a href="{{ child.url }}">{{ child.title }}</a>
      {% endfor %}
      </div>
    {% endif %}

  </div>
{% endfor %}
</nav>