<form class="header-search header-search--{{ search_style }}"
  method="get" action="{{ fn('get_bloginfo', 'url') }}"
  data-id="search" >

  <input type="search" name="s"
    placeholder="{{ search_placeholder }}"
    value="{{ fn('get_query_var', 's') }}">
  
  {% if has_submit_button == 'yes' %}
    <button type="submit">{{ submit_button_text }}</button>
  {% endif %}
</form>