<div
  class="socials socials--{{ icon_style }} socials--{{ icon_color }}"
  data-id="{{ id ? id : 'social' }}">

  {% for s in social_links if s.enabled %}

    {% set item = fn( 'custy_get_social_list', s.id ) %}
    {% set label = _context | h_get_social_label( s.id, item.label ) %}

    <a href="{{ _context[s.id] }}"
      class="social-link social-link--{{ s.id }} {% if label %} social-link--has-text {% endif %}"
      style="{% if icon_color == 'official' %} --officialColor: {{ item.color }} {% endif %}"
      title="{{ item.label }}">
      
      {{ item.svg }}
      
      {% if label %}
        <span data-visible="{{ text_visibility | h_get_visible_attr }}">{{ label }}</span>
      {% endif %}
    </a>
  {% endfor %}
</div>