{% set menu = menu_id | h_get_timber_menu %}

<nav class="nav" data-id="{{ id ? id : 'menu' }}">
{% for item in menu.items %}

  <div class="nav-item {{ item.class }}">
    <a href="{{ item.url }}">
      <span>{{ item.title }}</span>
    </a>

    {# 2nd level nav #}
    {% if item.children %}
    <ul {{ item.children | h_get_dropdown_attr('nav-dropdown') }}>
      {% for child in item.children %}
        <li>
          <a href="{{ child.url }}">{{ child.title }}</a>

          {# 3rd level nav #}
          {% if child.children %}
            {% for gchild in child.children %}
              <a href="{{ gchild.url }}">{{ gchild.title }}</a>
            {% endfor %}
          {% endif %}

        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

{% endfor %}
</nav>