{% set menu = menu_id | h_get_timber_menu %}

<nav class="mobile-nav mobile-nav--{{ style }}" data-header="{{ id ? id : 'mobile-menu' }}">
{% for item in menu.items %}

  {# Inline Style #}
  {% if stye == 'compact' %}
    {% if item.children %}
      <select data-mobile-dropdown-select>
        <option value="{{ item.url }}"> {{ item.title }}</option>

        {% for child in item.children %}
          <option value="{{ child.url }}"> {{ child.title }} </option>

          {% for gchild in child.children %}
            <option value="{{ gchild.url }}">-- {{ gchild.title }}</option>
          {% endfor %}
        {% endfor %}
      </select>
    {% else %}
      <a href="{{ item.url }}"> {{ item.title }} </a>
    {% endif %}

  {# Default Style #}
  {% else %}
    <div class="mobile-nav-item {{ item.class }}">
      <a href="{{ item.url }}"> {{ item.title }} </a>

      {# 2nd level #}
      {% if item.children %}
        <button data-mobile-dropdown-toggle>
          <svg width="8" height="8" viewBox="0 0 15 15"><path d="M2.1,3.2l5.4,5.4l5.4-5.4L15,4.3l-7.5,7.5L0,4.3L2.1,3.2z"></path></svg>
        </button>
        <ul class="mobile-nav-dropdown">
          {% for child in item.children %} <li>
            <a href="{{ child.url }}"> {{ child.title }} </a>

            {# 3rd level #}
            {% if child.children %} <ul>
              {% for gchild in child.children %}
              <li>
                <a href="{{ gchild.url }}"> {{ gchild.title }} </a>
              </li>
              {% endfor %}
            </ul> {% endif %}

          </li> {% endfor %}
        </ul>
      {% endif %}
    </div>

  {% endif %}
{% endfor %}
</nav>