<div class="search-wrapper
  {% if has_submit_button == 'yes' %} search-wrapper--has-submit {% endif %}"
  data-header="search">

  <button class="search-trigger" data-toggle-search data-visible="mobile">
    {{ search_icon }}
  </button>

  <form class="search-form" method="get" action="{{ fn('get_bloginfo', 'url') }}">
    <i class="search-icon">{{ search_icon }}</i>

    <input class="search-input" type="search" name="s"
      placeholder="{{ placeholder }}"
      value="{{ fn('get_query_var', 's') }}">
    
    {% if has_submit_button == 'yes' %}
      <button class="search-submit" type="submit" title="{{ __('Press ENTER to Search') }}">
        {{ submit_text }}
      </button>
    {% endif %}
  </form>
</div>