<div
  class="socials socials--{{ shape_style }} socials--color-{{ color_style }} socials--align-{{ alignment }}"
  data-id="{{ id ? id : 'social' }}">

  {% for link in links if link.enabled %}

    {% set item = fn( 'custy_get_social_list', link.id ) %}

    <a href="{{ link.link }}"
      class="social-link social-link--{{ link.id }} {% if link.label %} social-link--has-label {% endif %}"
      style="{% if color_style == 'official' %} --officialColor: {{ item.color }} {% endif %}"
      title="{{ item.label }}">
      
      {{ item.svg }}
      
      {% if link.label %}
        <span {{ label_visibility | h_get_visible_attr }}>{{ link.label }}</span>
      {% endif %}
    </a>
  {% endfor %}
</div>