{% extends "layout.twig" %}
{% block content %}
  {{ fn('the_post') }}
  

<div data-grid> <div data-column="12">

  <div class="before-product">
    {{ fn('woocommerce_output_all_notices') }}
    {{ fn('woocommerce_template_single_title') }}
    {{ fn('woocommerce_template_single_sharing') }}
    {{ fn('woocommerce_template_single_rating') }}
    {{ fn( 'woocommerce_template_single_excerpt' ) }}
    {% do action("woocommerce_before_single_product") %}
  </div>

  <div data-grid>
    {# Gallery #}
    <figure class="product-figure" data-column="4">
      {{ fn('woocommerce_show_product_sale_flash') }}
      {{ fn('woocommerce_show_product_images') }}
      {% do action("woocommerce_before_single_product_summary") %}
    </figure>

    {# Price & Buy button #}
    <aside class="product-purchase" data-column="3">
      {{ fn('woocommerce_template_single_price') }}
      {{ fn('woocommerce_template_single_add_to_cart') }}
      {% do action("woocommerce_after_single_product_summary") %}
    </aside>

    {# Summary tab #}
    <article class="product-article" data-column="5">
      {{ fn( 'woocommerce_output_product_data_tabs' ) }}
      {{ fn( 'woocommerce_template_single_meta' ) }}
      {{ fn( 'woocommerce_upsell_display' ) }}
      {% do action("woocommerce_single_product_summary") %}
    </article>
  </div>
  
  {% do action("woocommerce_after_single_product") %}

  {# RELATED #}
  <section class="product-related">
    <h2>{{ __('Related Products') }} </h2>
    {% include "shop/_products.twig" with { products: related_products } %}
  </section>

</div> </div>

{% endblock %}
